{% extends 'layout.html' %}

{% block body %}

<div class="">
    <div class="card card-body">
        <form action='/update/{{contact.0}}' method='POST'>
            
            <div class="form-group">
                <input type="int" name="id_persona" placeholder="Id_persona" value="{{contact.0}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="nombres" placeholder="Nombres" value="{{contact.1}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="apellidos" placeholder="Apellidos" value="{{contact.2}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="documento" placeholder="Documento" value="{{contact.3}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="int" name="id_tipo_documento" placeholder="Id_tipo_documento" value="{{contact.4}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="date" id="p" name="fecha_nacimiento" placeholder="Fecha_nacimiento" value="{{contact.5}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="int" name="lugar_residencia" placeholder="Lugar_residencia" value="{{contact.6}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="email" placeholder="Email" value="{{contact.7}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="int" name="telefono" placeholder="Telefono" value="{{contact.8}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="usuario" placeholder="Usuario" value="{{contact.9}}"
                class="form-control">
            </div>
            <div class="form-group">
                <input type="varchar" name="contraseña" placeholder="Contraseña" value="{{contact.10}}"
                class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
           
                    Save
               
                </button>
            </div>
   
        </form>
    </div>
</div>

   {% endblock %}